html {
  height: 100%;
  background-color:  #f7f7f7;
}

body{
  padding: 0;
  margin: 0;
  height: 100%;
}

#menu
{
  height: 5%;
}

.iconMenu
{
  font-size: 200%;
  padding: 6px;
  margin: 2px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.iconMenu:hover
{
  border: 1px solid grey;
  background-color: #ffff;
}
#playground
{
  width: 100%;
  height: 100%;
  color: black;
}
