html {
  height: 100%;
  background-color:  #f7f7f7;
}

body{
  padding: 0;
  margin: 0;
  height: 100%;
}

#menu
{
  margin: 0;
  top: 0;
  height: 50px;
  display: flex;
}

#playground
{
  width: 99%;
  height: 90%;
  color: black;
  margin: 0.5%;
  margin-top: 10px;
}

.newFile
{
  background: url("imgs/file-solid.svg") no-repeat top left;
}
.saveFile
{
  background: url("imgs/save-solid.svg") no-repeat top left;
}
.bold
{
  background: url("imgs/bold-solid.svg") no-repeat top left;
}
.italic
{
  background: url("imgs/italic-solid.svg") no-repeat top left;
}
.underline
{
  background: url("imgs/underline-solid.svg") no-repeat top left;
}

.iconMenu
{
  user-select: none;
  display: block;
  text-indent: -9999px;
  width: 61px;
  height: 45px;
  background-size: 61px 45px;
  padding: 2px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.iconMenu:hover
{
  border: 1px solid grey;
  background-color: #ffff;
}

.iconMenu:active
{
  background-color: #CCCCCC;
}

b{
  font-weight: bold;
}

i{
  font-style: italic;
}

underline{
  text-decoration: underline;
}
